div#header	{
	color:#000;
	height:80px;
	background:#fff;
	border-bottom: 1px solid #c5c5c5;
	background: #f5f5f5;
	min-width:1000px;
	}
	
#header h1	{
	margin:20px 0 0 0;
	font-size:30px;
	float:left;
	color: #a5a5a5;
	}

div#die {
	font-size: 800%;
}

footer p {
	align-content: center;
	align-self: center;
}

img {
	border: 0;
}