header {
	color: #000;
	height: 80px;
	background: #FFF;
	border-bottom: 1px solid #C5C5C5;
	background: #F5F5F5;
	min-width: 1000px;
}

header h1 {
	margin: 20px 0 0 0;
	font-size: 30px;
	float: left;
	color: #A5A5A5;
}

div#die {
	font-size: 800%;
}

img {
	border: 0;
}

footer {
	margin-top: 5px;
	padding-top: 1px;
	text-align: center;
	/*+placement: -5px -280px;*/
	position: relative;
	left: -5px;
	top: -280px;
}

aside.NavSideBar {
	position: relative;
	top: 0px;
	left: 0px;
	padding: 5px 15px 5px 15px;
	width: 200px;
	min-height: 430px;
	background-color: #EEE;
	font-size: 14px;
	border-radius: 25px;
	/*+placement: ;*/
	position: relative;
	left: 0;
	top: 0;
}

.Content {
	margin-left: 20px;
	padding: 20px;
	min-width: 400px;
	position: relative;
	/*+placement: 209px -466px;*/
	position: relative;
	left: 209px;
	top: -466px;
}
